* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
}

article {
  width: 80%;
  max-width: 1080px;
}

p {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

img, video {
  width: 100%;
  height: auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}